<table>
  <tr>
    <th>Номер п\п</th>
    <th>Предыдущее состояние</th>
    <th>Текущее состояние</th>
  </tr>
  <tr>
    <td>1</td>
    <td>
      <div>
        <h5>Односторонняя привязка данных</h5>
        <p>Пожелания ребятам на курсе</p>
      </div>
    </td>
    <td>
      <div [class.verdana-font]="true">
        <h5>Булевое значение</h5>
        <p>Пожелания ребятам на курсе</p>
      </div>
    </td>
  </tr>
</table>
<h1>Директива ngClass</h1>
<table>
  <tr>
    <th>Номер п\п</th>
    <th>Предыдущее состояние</th>
    <th>Текущее состояние</th>
  </tr>
  <tr>
    <td>2</td>
    <td>
      <div>
        <h5>привязка к выражениям</h5>
        <p>Пожелания ребятам на курсе</p>
      </div>
    </td>
    <td>
      <div [ngClass]="{ 'verdana-font': verdanaFont }">
        <h5>привязка к выражениям</h5>
        <p>Пожелания ребятам на курсе</p>
      </div>
    </td>
  </tr>
</table>

<table>
  <tr>
    <th>Номер п\п</th>
    <th>Предыдущее состояние</th>
    <th>Текущее состояние</th>
  </tr>
  <tr>
    <td>3</td>
    <td>
      <div>
        <h5>Задание набора классов через JS объект</h5>
        <p>Пожелания ребятам на курсе</p>
      </div>
    </td>
    <td>
      <div [ngClass]="verdanaClass">
        <h5>Задание набора классов через JS объект</h5>
        <p>Пожелания ребятам на курсе</p>
      </div>
    </td>
  </tr>
</table>
